body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  max-width: 900px;
}
.bar {
  width: 10px;
  height: 120px;
  border: 1px solid #000;
  position: absolute;
  pointer-events: none;
}

.visualization {
  flex: 3;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.visualization:hover {
  opacity: 0.4;
}
.container-controller {
  display: flex;
  flex-direction: column;
  position: relative;
}

.controllers {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 20px;
  padding: 20px;
  background-color: #fafafa;
}
@media screen and (min-width: 768px) {
  .container-controller {
    flex-direction: row;
  }
  .controllers {
    min-width: 380px;
    justify-content: flex-start;

  }
}